[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/DirDiff"]
	path = vim/bundle/DirDiff
	url = git://github.com/duellj/DirDiff.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/threesome"]
	path = vim/bundle/threesome
	url = git://github.com/sjl/threesome.vim.git
[submodule "vim/bundle/cscope_maps"]
	path = vim/bundle/cscope_maps
	url = git://github.com/chazy/cscope_maps.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-bitbake"]
	path = vim/bundle/vim-bitbake
	url = git://github.com/kergoth/vim-bitbake
